<article class="blog-post">
  {{#if editing}}
    {{blog-post-editor object=post editing=true onCancel=(action 'cancel')}}
  {{else}}
    <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta">
      {{moment-format post.createdAt 'Do MMMM, YYYY HH:mm'}}
      {{#if post.author.fullName}}
        by <a href="#">{{post.author.fullName}}</a>
      {{/if}}
      {{#if (can "edit post" post)}}
        {{fa-icon "pencil" class="pull-right cpointer" click=(action 'edit')}}
      {{/if}}
    </p>
    <div class="blog-post-description">
      {{nl2br post.description}}
    </div>
  {{/if}}
</article>
