<div class="navbar-form navbar-right">
  {{#if session.isAuthenticated}}
    <button {{action 'invalidateSession'}} class="btn btn-danger user-logout">Logout</button>
  {{else}}
    <form {{action 'authenticate' on='submit'}} class="user-login-form">
      {{#if errorMessage}}
        <div class="user-login-form__error form-group text-danger">
          {{errorMessage.message}}
        </div>
      {{/if}}
      <div class="form-group">
        {{input name='login'
                placeholder='Login'
                value=login
                class='user-login-form__login-input form-control'}}
      </div>
      <div class="form-group">
        {{input name='password'
                placeholder='Password'
                type='password'
                value=password
                class='user-login-form__password-input form-control'}}
      </div>
      <button type="submit" class="user-login-form__submit btn btn-success">Sign in</button>
    </form>
  {{/if}}
</div>
<ul class="nav navbar-nav navbar-right">
  {{#if session.isAuthenticated}}
    {{#if currentUser.user}}
      <li>
        <a href="#">
          Signed in as {{currentUser.user.fullName}}
        </a>
      </li>
      <li>
        <a href="#" style="padding-top: 10px; padding-bottom: 10px">
          {{ember-initials
            name=currentUser.user.fullName
            defaultName="?"
            seedText=currentUser.user.fullName
            size=30
            fontSize=50
            class="img-circle"
          }}
        </a>
      </li>
    {{/if}}
  {{else}}
    <li>
      {{link-to "Register" "register"}}
    </li>
  {{/if}}
</ul>
