{{#if session.isAuthenticated}}
  <div class="blog-post-form">
    <form {{action 'createPost' on='submit'}}>
      {{#validated-input model=post property='title'}}
        {{input name='title'
                placeholder='Enter title'
                value=post.title
                class='blog-post-form__title-input form-control'}}
      {{/validated-input}}

      {{#validated-input model=post property='description'}}
        {{textarea name='description'
                   placeholder='Enter your text here...'
                   value=post.description
                   class='blog-post-form__description-input form-control'
                   rows=3}}
      {{/validated-input}}

      {{#if (or post.errors errorMessage)}}
        <ul class="blog-post-form__error text-danger">
          {{#if errorMessage}}
            <li>{{errorMessage.message}}</li>
          {{/if}}
          {{#each post.errors as |errorSet|}}
            {{#each errorSet.validation as |error|}}
              <li>{{error}}</li>
            {{/each}}
          {{/each}}
        </ul>
      {{/if}}

      <button type="submit" class="blog-post-form__submit btn btn-default">{{if editing 'Save' 'Create'}}</button>
      {{#if editing}}
        <button type="button" class="blog-post-form__cancel btn btn-default" {{action 'cancel'}}>Cancel</button>
      {{/if}}
    </form>
    <div class="blog-post-form__title">
      {{if editing "Edit blog post" "New blog post"}}
    </div>
  </div>
{{/if}}
